#macro(activate $voteVal $actualVal)
    #if ($voteVal == $actualVal)
        active
    #end
#end

<html>
<head>
    <title>Vote</title>
    <meta name="decorator" content="issueaction" />
</head>
<body>
<form action="PokerVote.jspa" id="vote-poker" class="aui" method="post">
    <div class="form-body">
        <h2 class="dialog-title">Vote</h2>
        <style>
            .card {
                display: inline-block;
                width: 2.1em;
                height: 3em;
                margin: 0;
                -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
                -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
                box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
                border: 1px solid transparent;
                border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
                border-bottom-color: #A2A2A2;
                position: relative;
                -webkit-border-radius: 0.2em;
                border-radius: 0.2em;
                color: #25201c;
                font-size: 1.5em;
                text-align: center;
                text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
                line-height: 3em;
                cursor: pointer;
                background-color: rgb(224, 230, 230);
            }
            .card:hover {
                background-color: #6baff4;
            }
            .card.active {
                background-color: #3b7fc4;
                color: white;
            }
            .cards-row {
                margin: 5px;
            }
            .cards {
                margin: 0 90px;
                margin-bottom: 20px;
            }
        </style>
        <script type="text/javascript">
            function chooseCard(card) {
                var cards = document.getElementsByClassName("card")
                for (var i = 0; i < cards.length; i++) {
                    cards[i].classList.remove("active")
                }

                card.classList.add("active")
                var voteVal = document.getElementById("poker-vote-value")
                voteVal.value = card.innerText

                document.getElementById("poker-vote-submit").removeAttribute("disabled")
            }
        </script>
        <div id="poker-vote-cards" class="cards">
            <div class="cards-row">
                <div class="card #activate($voteVal 3)" onclick="javascript:chooseCard(this)">3</div>
                <div class="card #activate($voteVal 5)" onclick="javascript:chooseCard(this)">5</div>
                <div class="card #activate($voteVal 8)" onclick="javascript:chooseCard(this)">8</div>
                <div class="card #activate($voteVal 13)" onclick="javascript:chooseCard(this)">13</div>
                <div class="card #activate($voteVal 21)" onclick="javascript:chooseCard(this)">21</div>
                <div class="card #activate($voteVal '?')" onclick="javascript:chooseCard(this)">?</div>
            </div>
        </div>
        <div class="field-group">
            <label for="voteComment">Comment</label>
            <textarea id="voteComment" name="voteComment" class="textarea"
                      cols="40" rows="3">#if($voteComment)$voteComment#end</textarea>
            #if ($errors.containsKey("voteComment"))
                <div class="error" data-field="voteComment">$errors.get("voteComment")</div>
            #end
        </div>
        <div class="hidden">
            <input type="hidden" name="voteVal" class="text" id="poker-vote-value" value="${voteVal}"/>
            <input type="hidden" name="key" value="${key}" />
        </div>
    </div>

    <div class="buttons-container form-footer">
        <div class="buttons">
            <input accesskey="s" class="button" id="poker-vote-submit"
                   name="Vote" title="Press Ctrl+Alt+s to submit this form"
                   type="submit" value="Vote" disabled="disabled">
            <a accesskey="`" class="cancel" href="/browse/${key}" id="vote-poker-cancel"
               title="Press Ctrl+Alt+` to cancel">Cancel</a>
        </div>
    </div>
</form>
</body>
</html>