<html>
<head>
    <title>View Votes</title>
    <meta name="decorator" content="issueaction" />
</head>
<body>
    <div class="form-body">
        <h2 class="dialog-title">View Votes</h2>
        #if ($action.votes.isEmpty())
        <p>No one has voted yet.</p>
        #else
        #foreach($vote in $action.votes)
        <div class="module toggle-wrap">
            <div class="mod-header">
                <ul class="ops"></ul>
            </div>
            <div class="mod-content">
                <ul class="item-details">
                    <li class="people-details">
                        <dl>
                            <dt>Voter:</dt>
                            <dd>
                                <span class="view-issue-field">$action.getUserHtml($vote.voter)</span>
                            </dd>
                        </dl>
                    </li>
                </ul>
                <ul class="item-details">
                    <li>
                        <dl>
                            <dt>Vote Value:</dt>
                            <dd>
                                <span class="aui-badge vote-state-off">$vote.value</span>
                            </dd>
                        </dl>
                    </li>
                </ul>
                #if ($vote.comment and $vote.comment != "")
                <ul class="item-details">
                    <li>
                        <dl>
                            <dt>Comment:</dt>
                            <dd>
                                <span class="view-issue-field">$vote.comment</span>
                            </dd>
                        </dl>
                    </li>
                </ul>
                #end
            </div>
        </div>
        #end
        #end
    </div>
</body>
</html>