<html>
<head>
    <title>View Votes</title>
    <meta name="decorator" content="issueaction" />
</head>
<body>
    <div class="form-body">
        <h2 class="dialog-title">View Votes</h2>
        <ul class="item-details">
            <li class="people-details">
                <dl>
                    #foreach($vote in $action.votes)
                        <dt>$action.getUserHtml($vote.voter)</dt>
                        <dd><span class="aui-badge vote-state-off">$vote.value</span></dd>
                    #end
                </dl>
            </li>
        </ul>
    </div>

    <div class="buttons-container form-footer">
        <div class="buttons">
            <a accesskey="`" class="cancel" href="${baseurl}/browse/${key}" id="view-vote-poker-cancel"
               title="Press Ctrl+Alt+` to cancel">Cancel</a>
        </div>
    </div>
</body>
</html>