<html>
<head>
    <title>Success</title>
</head>
<body>
<script type="text/javascript">
    JIRA.Dialog.current.hide();
    var url = window.location.href;
    AJS.$("body").load(url, function() {
        #foreach($message in $flushedMessages)
        JIRA.Messages.showSuccessMsg('$message', {closeable: true});
        #end
    });
</script>
</body>
</html>