$webResourceManager.requireResource("com.redhat.engineering.plugins.planning-poker:planning-poker-resources")
<html>
<head>
    <title>Browse Planning Poker Sessions</title>
    <meta name="decorator" content="alt.general"/>
</head>
<body>
    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
                <h1>Browse Planning Poker Sessions</h1>
            </div>
        </div>
    </header>
    <!-- Scheduled, In Progress, Finished -->
    <div class="aui-page-panel" id="pp-show-sessions" data-recent-boards="{&quot;views&quot;:[]}">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content" id="pp-main-content">
                <div id="pp-sessions-table">
                    <table class="aui sessions-table">
                        <thead>
                        <tr>
                            <th width="10%">Issue key</th>
                            <th width="50%">Issue summary</th>
                            <th width="15%">Author</th>
                            <th width="15%">Session status</th>
                            <th width="5%">Votes</th>
                            <th width="5%">Actions</th>
                        </tr>
                        </thead>
                        <tbody class="boards-list">
                        #if ($sessions.isEmpty())
                        <tr>
                            <td colspan="3">There are currently no poker sessions.</td>
                        </tr>
                        #else
                        #foreach ($session in $sessions)
                        #if ($action.isVoter($session))
                            #set ($voteState = "vote-state-on")
                            #set ($voteLabel = "Edit Vote")
                        #else
                            #set ($voteState = "vote-state-off")
                            #set ($voteLabel = "Vote")
                        #end
                        <tr>
                            <td><a href="${baseurl}/browse/${session.issue.key}"
                                   title="Go to this issue">$session.issue.key</a></td>
                            <td>$session.issue.summary</td>
                            <td>
                                <a href="${baseurl}/secure/ViewProfile.jspa?name=${session.author.name}" id="pp-list-author">$session.author.displayName</a>
                            </td>
                            <td>
                                #if ($action.getStatus($session) == "SCHEDULED")
                                <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-complete">Scheduled</span>
                                #elseif ($action.getStatus($session) == "IN_PROGRESS")
                                <span class="aui-lozenge aui-lozenge-subtle jira-issue-status-lozenge-yellow">In Progress</span>
                                #elseif ($action.getStatus($session) == "FINISHED")
                                <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-error">Finished</span>
                                #end
                            </td>
                            <td>
                                <a id="poker-view-voter-list" title="View Poker Voters" class="trigger-dialog"
                                   href="${baseurl}/secure/PokerVote!viewVoters.jspa?key=$session.issue.key">
                                    <span id="poker-vote-data" class="aui-badge $voteState"
                                    >$action.getVotesSize($session)</span>
                                </a>
                            </td>
                            <td class="pp-actions">
                                <button aria-haspopup="true" id="pp-actions-button-${session.issue.key}"
                                        aria-owns="pp-actions-popup-${session.issue.key}"
                                        class="aui-dropdown2-trigger aui-style-default aui-button aui-button-subtle">
                                    <span class="aui-icon aui-icon-small aui-iconfont-more"></span>
                                </button>
                                <div id="pp-actions-popup-${session.issue.key}" class="aui-style-default aui-dropdown2">
                                    <ul class="aui-list-truncate">
                                        #if ($action.hasVotePermission($session))
                                        <li>
                                            #if ($action.getStatus($session) == "IN_PROGRESS")
                                            <a id="pp-vote-enabled-${session.issue.key}" class="trigger-dialog"
                                               href="${baseurl}/secure/PokerVote!default.jspa?key=$session.issue.key">$voteLabel</a>
                                            #else
                                            <a id="pp-vote-disabled-${session.issue.key}" class="trigger-dialog disabled" title="You cannot vote because the session hasn't started yet/already finished."
                                               href="${baseurl}/secure/PokerVote!default.jspa?key=$session.issue.key">$voteLabel</a>
                                            #end
                                        </li>
                                        #end
                                        <li>
                                            #if ($action.getStatus($session) == "FINISHED")
                                            <a id="poker-result-enabled-${session.issue.key}" class="trigger-dialog"
                                               href="${baseurl}/secure/PokerVote!viewVotes.jspa?key=$session.issue.key">View Votes</a>
                                            #else
                                            <a id="poker-result-disabled-${session.issue.key}" class="trigger-dialog disabled" title="You cannot view votes because the session hasn't finished yet."
                                               href="${baseurl}/secure/PokerVote!viewVotes.jspa?key=$session.issue.key">View Votes</a>
                                            #end
                                        </li>
                                        #if ($action.hasOwnerPermission($session))
                                        <li>
                                            <a id="pp-edit-${session.issue.key}" class="trigger-dialog"
                                               href="${baseurl}/secure/PokerSession!edit.jspa?key=$session.issue.key">Edit Session</a>
                                        </li>
                                        <li>
                                            <a id="pp-session-delete-${session.issue.key}"
                                               href="javascript:showDialog('pp-session-delete-${session.issue.key}', 'Confirm Delete Session ${session.issue.key}', 'Are you sure you want to delete group $session.issue.key?')"
                                            >Delete Session</a>
                                            <a id="pp-session-delete-${session.issue.key}-link" style="display: none;" class="trigger-dialog"
                                               href="${baseurl}/secure/PokerSession!delete.jspa?key=$session.issue.key">Confirm Delete Session</a>
                                        </li>
                                        #end
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        #end
                        #end
                        </tbody>
                    </table>
                </div>
                #set($Integer = 0)
                #set($intPage = $Integer.parseInt($page))
                #if ($action.getPageCount() > 1)
                <div class="pagination" id="pagination-container">
                    <ol class="aui-nav aui-nav-pagination">
                        #set($previous = $intPage - 1)
                        #if($previous < 1)
                        <li class="aui-nav-previous">
                            <a href="#" aria-disabled="true">Previous</a>
                        </li>
                        #else
                        <li class="aui-nav-previous">
                            <a href="$baseurl/secure/ShowPokerSessions.jspa?page=$previous">Previous</a>
                        </li>
                        #end

                        #foreach ($i in [1..$action.getPageCount()])
                            #if ($i >= $intPage - 5 && $i <= $intPage + 5)
                                #if($intPage == $i)
                                <li class="aui-nav-page aui-nav-selected">$i</li>
                                #else
                                <li class="aui-nav-page">
                                    <a href="$baseurl/secure/ShowPokerSessions.jspa?page=$i">$i</a>
                                </li>
                                #end
                            #end
                        #end

                        #set($next = $intPage + 1)
                        #if($next > $action.getPageCount())
                        <li class="aui-nav-next">
                            <a href="#" aria-disabled="true">Next</a>
                        </li>
                        #else
                        <li class="aui-nav-next">
                            <a href="$baseurl/secure/ShowPokerSessions.jspa?page=$next">Next</a>
                        </li>
                        #end
                    </ol>
                </div>
                #end
            </section>
        </div>
    </div>
</body>
</html>