$webResourceManager.requireResource("com.redhat.engineering.plugins.planning-poker:planning-poker-resources")
<html>
<head>
    <title>Browse Planning Poker Sessions</title>
    <meta name="decorator" content="alt.general"/>
</head>
<body>
    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
                <h1>Browse Planning Poker Sessions</h1>
            </div>
        </div>
    </header>
    <!-- Scheduled, In Progress, Finished -->
    <div class="aui-page-panel" id="pp-show-sessions" data-recent-boards="{&quot;views&quot;:[]}">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content" id="pp-main-content">
                <div id="pp-sessions-table">
                    <table class="aui sessions-table">
                        <thead>
                        <tr>
                            <th width="10%">Issue key</th>
                            <th width="60%">Issue summary</th>
                            <th width="20%">Session status</th>
                            <th width="10%">Votes</th>
                        </tr>
                        </thead>
                        <tbody class="boards-list">
                        #if ($sessions.isEmpty())
                        <tr>
                            <td colspan="3">There are currently no poker sessions.</td>
                        </tr>
                        #else
                        #foreach ($session in $sessions)
                        #if ($action.isVoter($session))
                            #set ($voteState = "vote-state-on")
                            #set ($voteLabel = "Edit Vote")
                        #else
                            #set ($voteState = "vote-state-off")
                            #set ($voteLabel = "Vote")
                        #end
                        <tr>
                            <td><a href="${baseurl}/browse/${session.issue.key}"
                                   title="Go to this issue">$session.issue.key</a></td>
                            <td>$session.issue.summary</td>
                            <td>
                                #if ($action.getStatus($session) == "SCHEDULED")
                                <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-complete">Scheduled</span>
                                #elseif ($action.getStatus($session) == "IN_PROGRESS")
                                <span class="aui-lozenge aui-lozenge-subtle jira-issue-status-lozenge-yellow">In Progress</span>
                                #elseif ($action.getStatus($session) == "FINISHED")
                                <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-error">Finished</span>
                                #end
                            </td>
                            <td>
                                <a id="poker-view-voter-list" title="View Poker Voters" class="trigger-dialog"
                                   href="${baseurl}/secure/PokerVote!viewVoters.jspa?key=$session.issue.key">
                                    <span id="poker-vote-data" class="aui-badge $voteState"
                                    >$action.getVotesSize($session)</span>
                                </a>
                            </td>
                        </tr>
                        #end
                        #end
                        </tbody>
                    </table>
                </div>
                #set($Integer = 0)
                #set($intPage = $Integer.parseInt($page))
                #if ($action.getPageCount() > 1)
                <div class="pagination" id="pagination-container">
                    <ol class="aui-nav aui-nav-pagination">
                        #set($previous = $intPage - 1)
                        #if($previous < 1)
                        <li class="aui-nav-previous">
                            <a href="#" aria-disabled="true">Previous</a>
                        </li>
                        #else
                        <li class="aui-nav-previous">
                            <a href="$baseurl/secure/ShowPokerSessions.jspa?page=$previous">Previous</a>
                        </li>
                        #end

                        #foreach ($i in [1..$action.getPageCount()])
                            #if ($i >= $intPage - 5 && $i <= $intPage + 5)
                                #if($intPage == $i)
                                <li class="aui-nav-page aui-nav-selected">$i</li>
                                #else
                                <li class="aui-nav-page">
                                    <a href="$baseurl/secure/ShowPokerSessions.jspa?page=$i">$i</a>
                                </li>
                                #end
                            #end
                        #end

                        #set($next = $intPage + 1)
                        #if($next > $action.getPageCount())
                        <li class="aui-nav-next">
                            <a href="#" aria-disabled="true">Next</a>
                        </li>
                        #else
                        <li class="aui-nav-next">
                            <a href="$baseurl/secure/ShowPokerSessions.jspa?page=$next">Next</a>
                        </li>
                        #end
                    </ol>
                </div>
                #end
            </section>
        </div>
    </div>
</body>
</html>