<html>
<head>
    <title>Error</title>
</head>
<body>
<div class="form-body">
    <h3 class="formtitle">Error</h3>

    <div>
        #foreach($error in $errorMessages)
            <p>$error</p>
        #end
    </div>
</div>
<script type="text/javascript">
    #foreach($error in $flushedErrorMessages)
    JIRA.Messages.showMsg("$error", {
        type: JIRA.Messages.Types.ERROR,
        closeable: true
    });
    #end
    JIRA.Dialog.current.hide();
</script>
</body>
</html>