#if ($pokerComponent.isVoter($session))
    #set ($voteState = "vote-state-on")
    #set ($voteLabel = "Edit Vote")
#else
    #set ($voteState = "vote-state-off")
    #set ($voteLabel = "Vote")
#end

<ul class="item-details" id="poker-session-author">
    <li class="people-details">
        <dl>
            <dt>Author:</dt>
            <dd>
                <span id="author-val" class="view-issue-field">$pokerComponent.getAuthorHtml($session)</span>
            </dd>
        </dl>
    </li>
</ul>
<ul class="item-details" id="poker-session-dates">
    <li>
        <dl class="dates">
            <dt>Start:</dt>
            <dd>$pokerComponent.formatDate($session.start)</dd>
        </dl>
        <dl class="dates">
            <dt>End:</dt>
            <dd>$pokerComponent.formatDate($session.end)</dd>
        </dl>
    </li>
</ul>
<ul class="item-details" id="poker-session-votes">
    <li>
        <dl class="score">
            <dt>Status:</dt>
            <dd>
                #if ($pokerComponent.getStatus($session) == "SCHEDULED")
                <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-complete">Scheduled</span>
                #elseif ($pokerComponent.getStatus($session) == "IN_PROGRESS")
                <span class="aui-lozenge aui-lozenge-subtle jira-issue-status-lozenge-yellow">In Progress</span>
                #elseif ($pokerComponent.getStatus($session) == "FINISHED")
                <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-error">Finished</span>
                #end
            </dd>
        </dl>
        <dl class="votes">
            <dt>Votes:</dt>
            <dd>
                <a id="poker-view-voter-list" title="View Poker Voters" class="trigger-dialog"
                   href="${baseurl}/secure/PokerVote!viewVoters.jspa?key=$session.issue.key">
                    <span id="poker-vote-data" class="aui-badge $voteState"
                            >$pokerComponent.getVotesSize($session)</span>
                </a>
                #if ($pokerComponent.hasVotePermission($session))
                <a id="poker-vote" class="trigger-dialog"
                   href="${baseurl}/secure/PokerVote!default.jspa?key=$session.issue.key">$voteLabel</a>
                #end
            </dd>
        </dl>
        <dl class="score">
            <dt>Result:</dt>
            <dd>
                <a id="poker-result" class="trigger-dialog"
                   href="${baseurl}/secure/PokerVote!viewVotes.jspa?key=$session.issue.key">View Votes</a>
            </dd>
        </dl>
        #if ($pokerComponent.hasOwnerPermission($session))
        <dl class="actions">
            <dt>Actions:</dt>
            <dd>
                <a id="poker-edit" class="trigger-dialog"
                   href="${baseurl}/secure/PokerSession!edit.jspa?key=$session.issue.key">Edit</a><span>, </span>
                <a id="poker-delete" href="#">Delete</a>
                <a id="poker-delete-link" style="display: none;" class="trigger-dialog"
                   href="${baseurl}/secure/PokerSession!delete.jspa?key=$session.issue.key">Confirm Delete Session</a>
                <script>
                    var dialog = new AJS.Dialog({
                        width:300,
                        height:200,
                        id:"poker-delete-dialog",
                        closeOnOutsideClick: true
                    });
                    dialog.addHeader("Delete Session");
                    dialog.addPanel("Panel 1", "<p>Are you sure you want to delete session $session.issue.key?</p>", "panel-body");
                    dialog.addButton("Confirm", function (dialog) {
                        dialog.hide();
                        AJS.$("#poker-delete-link").click();
                    });
                    dialog.addLink("Cancel", function (dialog) {
                        dialog.hide();
                    }, "#");

                    AJS.$("#poker-delete").click(function() {
                        dialog.show();
                    });
                </script>
            </dd>
        </dl>
        #end
    </li>
</ul>