<html>
<head>
    <title>Success</title>
</head>
<body>
<div class="form-body">
    <h3 class="formtitle">Success</h3>

    <div>
        #foreach($message in $messages)
            <p>$message</p>
        #end
    </div>
</div>
<script type="text/javascript">
    if (JIRA.Issue.getIssueId()) {
        #foreach($message in $action.getFlushedMessages(true))
        JIRA.Messages.showMsgOnReload("$message", {
            type: "SUCCESS",
            closeable: true
        });
        #end
        JIRA.Dialog.current.hide();
        JIRA.trigger(JIRA.Events.REFRESH_ISSUE_PAGE, [JIRA.Issue.getIssueId()]);
    } else {
        JIRA.Dialog.current.hide();
        var url = window.location.href;
        AJS.$("#content").load(url + " #content", function() {
            #foreach($message in $flushedMessages)
            JIRA.Messages.showSuccessMsg('$message', {closeable: true});
            #end
        });
    }
</script>
</body>
</html>